{
	"printWidth": 80,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": none,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote" : true,
	"parser": "babel",
	"semi": true,
	"requirePragma": false,
	"proseWrap": "preserve",
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed"
}
